label{
    color:#1E450C;
    text-shadow: #1E450C;
    font-style: bold;
    font-weight: bold;
}

h1{
    color: #1E450C;
    font-style: bold;
    font-weight: bold;
}

hr{
border-top: 2px solid #1E450C ;
}

bg-verde{
    background-color: #1E450C;
}



