<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,100&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        .fs16 {
            font-size: 16px;
        }

        .color-black {
            background-color: #1E450C;
        }

        .color-primary {
            color: #FED93B;
        }

        .color-white {
            color: #eaeaea;
        }

        .color-grey {
            color: #9b9b9b;
        }

        .center {
            width: 100%;
            text-align: center;
        }

        .w500 {
            font-weight: 500;
        }
    </style>
</head>

<body class="color-black">
    <div class="center">
        <br>
        <img src="cid:logo" width=250>
        <h1 class="color-primary mt">Control Stock</h1>
        <p class="color-white fs16">{{principalInfo}}</span></p>
        <p class="color-grey fs16">{{secondaryInfo}} <span class="color-primary w500">{{code}}<span></span></p>
        <br>
    </div>
</body>

</html>